:root{
    --text- : #121212
    --border: #121212 
    --background-destaque: #ffffff
    --background: #F8F5EF
    --btn: #DEC7A6
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
}

body{
    width: 100vw;
    height: auto;
    background-color: #f8f5ef;
}

.main-box{
    display: inline-block;
    align-items:center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: auto;
    z-index: -2;
}

/*header top*/

.header-top{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 50px;
    background-color: #f8f5ef;
}

.header-top .nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.header-top .nav-list .list{
    text-decoration: none;
    color: #121212;
    text-transform: uppercase;
}



/*header*/

.header{
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items:center;
    justify-content:flex-end;
    flex-direction: column;
    gap: 20px;
}

.header-container{
    width: 100vw;
    height: 90%;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    gap: 20px;
}

.header::before{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: url(./img/Photo/pexels-photo-3998397.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.title-header{
    font-size: 70px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.sub-title-header{
    color: #ffffff;
    font-family: "Barlow";
    font-size: 35px;
    font-weight:normal;
}

.btns{
    display: flex;
    gap: 70px;
}

.btn-geral{
    width: 15rem;
    height: 4rem;
    border: none;
    background: #DEC7A6;
    font-weight: 800;
    font-size: 23px;
}

.btn-transparente{
    width: 15rem;
    height: 4rem;
    border: 2px solid #ffffff;
    background: transparent;
    color: #ffffff;
    font-weight: 800;
    transition: 0.5s ease;
    box-shadow: 2px 2px 20px #a8a8a8;
    cursor: pointer;
    font-size: 23px;
}

.btn-transparente:hover{
    transform: scale(1.2, 1.2);
}

.infos{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 100px;
    background-color: #ffffff;
    width: 80%;
    max-height: 50%;
    border: 1px solid #121212;
    padding: 2.0rem;
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 800;
    gap: 6px;
    max-width: 100%;

}

.info img{
    width: 30px;
    height: 30px;
}

.info .line{
    width: 60px;
    height: 4px;
    background-color: #DEC7A6;
}

.info .text-assunto{
    font-weight: 600;
}

/*porque escolher um barbeiro particular*/

.why{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.why-left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
    height: auto;
    margin-left:100px;
}

.why-left .border{
    border: 1px solid #121212;
    padding: 15px;
    text-align: left;
    width: 50vw;
    height: auto;
}

.title{
    font-size: 30px;
}

.text{
    font-size: 20px;
    font-weight: 300;
}

.why-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: auto;
}

.why-right .img img{
    width:40rem;
    height: 30rem;
    box-shadow: 5px 5px 20px #9b9b9b;
}

.info-why{
    display: flex;
    align-items: center;
    gap: 130px;
    height: 100px;
    text-align: left;
    padding-bottom: px;
}

.info-why span{
    color: #DEC7A6;
}

.info-text-why{
    font-weight: 800;
    font-size: 40px;
}

.text-assunto{
    font-size: 20px;
    font-weight: 600;
}

/*nossos servicos*/

.sobre-servicos{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
}

.sobre-servicos .border{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.border-servicos{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #121212;
    padding: 20px;
    margin: 20px;
    text-align: start;
}

.btns{
    display: flex;
    align-items: center;
    justify-content: center;
}

.border .title{
    padding-bottom: 15px;
}

.servicos-gerais{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-self: flex-start;
    align-items: flex-start;
    margin: 50px;
    padding: 30px;
    width: auto;
    height: auto;
    background-color: #ffffff;
    box-shadow: 2px 2px 20px #a8a8a8;
}


.especificacao-servicos,
.especificacao-servicos-2{
    width: auto;
    height: auto;
    display: flex;
    padding: 20px;
    gap: 20px;
}

.especificacao-servicos .icon img{
    width: 45px;
    height: 45px;
}

.especificacao-servicos-2 .icon-2 img{
    width: 45px;
    height: 45px;
}

.info-service{
    width: auto;
    height: auto;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}

.especificacao-servicos-2 .info-service{
    width: auto;
    height: auto;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: right;
}

.info-service .info-text{
    font-size: 17px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.info-service .text{
    font-size: 15px;
}

.btn-geral{
    box-shadow: 2px 2px 20px #a8a8a8;
    cursor: pointer;
    transition: 0.5s ease;
}

.btn-geral:hover{
    transform: scale(1.2, 1.2);
}

/*porque nos*/

.porque-nos{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.porque-nos .title{
    margin-bottom: 30px;
}

.porque-nos .info-text, .title{
    text-transform: uppercase;
}

.porque-nos .infos{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    height: auto;
    margin-top: 30px;
    background: transparent;
    border: none;
}

.porque-nos .info .text{
    font-size: 20px;
    width: 250px;
}

/*sobre mim*/

.sobre-mim{
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 31px;
}

.sobre-mim .marcosvinicius{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: transparent;
    width: 600px;
    height: 350px;
    padding: 20px;
    border: 2px solid #DEC7A6;
    margin: 30px;
}

.sobre-mim .marcosvinicius .efeito-marcos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.sobre-mim .marcosvinicius .img-marcos img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.sobre-mim .marcosvinicius .title{
    font-size: 20px;
}

.sobre-marcos .stars{
    padding-bottom: 20px;
    text-align: left;
}

.marcosvinicius .stars img{
    width: 20px;
    height: 20px;
}

.rede-social{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 35px;
    width: 360px;
    height: 310px;
    margin: 30px;
    background-color: #DEC7A6;
}

.rede-social .instagram-img img{
    width: 70px;
    height: 70px;
}

.rede-social::before{
    content: "";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 300px;
    border: 2px solid #121212;
    z-index: -1;
}

/*fotos cortes*/ 

.fotos-corte{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

.corte1-img,
.corte2-img,
.corte3-img,
img{
    width: 300px;
    height: 300px;
}

.corte1-img, .corte2-img, .corte3-img{
    box-shadow: 1px 1px 20px #a8a8a8;
    transition: 0.5s ease;
}

.corte1-img:hover{
    transform: scale(1.2, 1.2);
}
.corte2-img:hover{
    transform: scale(1.2, 1.2);
}
.corte3-img:hover{
    transform: scale(1.2, 1.2);
}

/*formulario

.formulario{
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 1rem;
    background-color: #ffffff;
}

form{
    width: 100%;
    max-width: 30rem;
}

label,
input,
textarea,
button {
    display: block;
}

input, 
textarea, 
button{
    width: 100%;
    font: inherit;
    padding: 1.25rem;
    font-weight: 700;
}

input, 
textarea{
    margin-bottom: 1rem;
    color: #f8f5ef;
    background-color: #a8a8a8;
    border: 0.125rem solid #ffffff;
    border-radius: 1.125rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
    outline: none;
    border-color: #DEC7A6;
    box-shadow: 0 0 0 0.3125rem #26344a;
}

label{
    margin-bottom: 0.5rem;
    color: #84868f;
}

textarea{
    min-height: 12.5rem;
    resize: vertical;
}

.btn-form{
    border: none;
    border-radius: 99px;
    color: #ffffff;
    background: #DEC7A6;
    cursor: pointer;
    transition: 0.3s;
}

.btn-form:hover,
.btn-form:focus{
    outline: none;
    background: #d1b081;
}

.btn-form:disabled{
    cursor: not-allowed;
    background: #26344a;
}

.error,
.success{
    text-align: center;
}

.success{
    color: greenyellow;
}

.error{
    color: tomato;
}

contato*/

.contato-container{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem;
    padding-left: 8rem;
    padding-top: 200px;
    margin-top: 1.5rem;
}

.contato-container{
    background-image: url(./img/Photo/pexels-photo-5568407.jpeg);
    background-size: 100vw auto;
    background-attachment:local;
    background-position: center;
    background-repeat: no-repeat;

}

.phone,
.email{
    width: 20rem;
    height: 8rem;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 50px;
}

.phone, 
.email, 
.contato-container .title {
    color: #ffffff;
    text-transform: uppercase;
}

.contato-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contato-container .title{
    text-align: left;

}

a {
    color: #ffffff;
    text-decoration: none;
}


.phone{
    margin-top: 40px;
}

.phone .icon img, 
.email .icon img{
    width: 70px;
    height: 70px;
    background-color: #ffffff;
    padding: 10px;
}

/*footer*/

.footer{
    background-color: #121212;
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10rem;
}

.footer p{
    text-align: center;
    color: #DEC7A6;
}
/*alteracoes temporarias*/

.info img{
    width: 35px;
}

.img img{
    width: 100px;
    height: 100px;
}


.agendamento img{
    width: 100px;
    height: 100px;
}

@media only screen and (max-width: 500px){
    .title-header{
        font-size: 25px;
    }
    .sub-title-header{
        font-size: 15px;
    }
    .btn-geral{
        width: 100px;
        height: 50px;
        font-size: 10px;
    }
    .btn-transparente{
        width: 100px;
        height: 50px;
        font-size: 10px
    }
    .infos{
        width:95%;
        max-height: 20%;
        gap: 30px;
        padding: 5px;
    }
    .info{
        
    }
    .info-text{
        font-size: 10px;
    }
    .text-assunto{
        font-size: 10px;
    }
    .info img{
        width: 15px;
        height: 15px;
    }

    .title{
        font-size: 15px;
    }
    .text{
        font-size: 10px;
    }
    .why{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .why-left{
        margin-left: 0;
    }
    .why-left .border{
        border: 1px solid #121212;
        padding: 15px;
        margin: 5px;
        text-align: left;
        width: 100vw;
        height: auto;
    }
    .why-right .img img{
        width: 250px;
        height: 250px;
    }


    .sobre-servicos{
        flex-direction: column;
    }

    .info-text-why{
        font-size: 25px;
    }

    .especificacao-servicos .icon img{
        width: 30px;
        height: 30px;
    }

    .especificacao-servicos-2 .icon-2 img{
        width: 30px;
        height: 30px;
    }

    .info-service .info-text{
        font-size: 10px;
        padding-bottom: 7px;
        text-transform: uppercase;
    }
    
    .info-service .text{
        font-size: 10px;
    }
    

    .servicos-gerais{
        display: flex;
        align-items: center;
        justify-self: center;
        flex-direction: column;
        margin: 50px;
        padding: 30px;
        width: auto;
        height: auto;
        background-color: #ffffff;
        box-shadow: 2px 2px 20px #a8a8a8;
    }



    .item{
        position: absolute;
        width: 200px;
        height: 320px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: justify;
        flex-direction: column;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        transition: 0.5s;
        left: calc(50% - 110px);
        top: 0;
        gap: 10px;
        text-align: center;
    }

}
    .item img{
        width: 50px;
        height: 50px;
    }

    .slider{
        position: relative;
        width: 100%;
        height: 370px;
        overflow: hidden;
    }

    .item{
        position: absolute;
        width: 250px;
        height: 320px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: justify;
        flex-direction: column;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        transition: 0.5s;
        left: calc(50% - 110px);
        top: 0;
        gap: 10px;
        text-align: center;
    }

    .item .info-text{
        font-size: 17px;
        text-transform: uppercase;
    }

    .item .line{
        width: 60px;
        height: 4px;
        background-color: #DEC7A6;
    }

    #next, #prev{
        position: absolute;
        top: 40%;
        color: #121212;
        background-color: #121212;
        background-color: transparent;
        border: none;
        font-size: xxx-large;
        font-family: monospace;
        font-weight: bold;
        left: 400px;
    }

    #next{
        left: unset;
        right: 400px;
    }